<!DOCTYPE html>
<html>
    <head>
        <title>Список покупок</title>
        <meta charset="utf8">
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body class="page">
        <h1>Покупки</h1>
        <form action="add" method="post">
        	<input type="text" name="product">
        	<input type="submit" value="Добавить">
        </form>
        <form action="reset" method="post">            
            <input type="submit" value="Очистить">
        </form>
        <% for(var i=0; i<products.length; i++) {%>           
        <form action="delete" method="post">
            <input type="hidden" name="id" value="<%= products[i].id %>" >
            <p><%= products[i].productName %></p>
            <input type="submit" value="Удалить">
        </form>
        <% } %>
    </body>
</html>